<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - imageApp</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css?h=39f612d0af5b74e3058ab6d89e114e6a">
    <link rel="stylesheet" href="/css/styles.min.css?h=95223f31c9e9c1c7392f5cd8709f92a7">
</head>

<body class="" style="background-color: rgb(221, 230, 230);">
    <div id="loader" class="loader" style="display: none;">
        <div></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Forgot Your Password?</h4>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label" style="color: #4e73df;"><b>Email Address</b></label>
                                            <input class="form-control form-control" type="email"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." name="email"></div>
                                                
                                            <button
                                            class="btn btn-primary d-block btn w-100" type="submit">Reset
                                            Password</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" href="/api/createAccount">Create an Account!</a>
                                    </div>
                                    <div class="text-center"><a class="small" href="/api/">Already have an
                                            account? Login!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js?h=f56d3e84f8f4fb156548d390a8a85d8e"></script>
    <script src="/bootstrap/js/bootstrap.min.js?h=374d178d651fa0eaf680a1fa7b40c788"></script>
    <script src="/js/script.min.js?h=bdf36300aae20ed8ebca7e88738d5267"></script>
</body>

</html>